body{
  background-color: white;
}
#logo{
  width: 400px;
  margin: 10px;
}
#container{
  background-color: red;
  width: 500px;
  height: 500px;
  position: relative;
  border: 2px solid black;

}

#textbox_div{
  background-color: #f54997;
  height: 40px;
  width: 490px;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 5px;
}

.textbox_div__input{
  width: 70%;
  height: 100%;
  font-size: 20px;
}

.textbox_div__button{
  width: 20%;
  height: 100%;
  font-size: 20px;
}

#messages_div{
  background-color: white;
  height: 440px;
  width: 490px;
  position: absolute;
	bottom: 0px;
  margin-bottom: 50px;
  overflow: scroll;
  padding: 5px;
}

.messages_div__message{
  display: block;
  padding: 10px;
  border-radius: 15px;
  margin: 5px;
  height: auto;
}
.messages_div__message.bot{
  background-color: #f54997;
  float: left;
}

.bot_img{
  float: left;
  margin-top: 10px;
}

.messages_div__message.user{
  background-color: pink;
  float: right;
}

.message_wrapper{
  clear: both;
}

.programme-image{
  width: 200px;
  display: flex;
  margin: 5px;
}


